*{
    box-sizing: border-box;
}

body{
    background-color white; 
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    line-height: 1.4;

    
}


nav a{
    color:black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0   ;
    
}
#logo{
    height: 40px;
}
#menu{
    background: transparent;
    border: none;
}

header{
    height: 64px;
    display: flex;
    justify-content: space-between;
}

header nav{
    display: none;
    }
    .show{
        display: block;
    
}
#hero{
    background-image: url(img/intro.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    
    
}

.button{
    
    padding: 10px;
    text-transform: uppercase;
    background-color:white;
    border: 1px solid #374a67 ;
    text-decoration: none;
    border-radius: 4px;
    color:374a67 ;
    font-weight: bold;
    -webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.75); 
    transition: all 0.4s ease;
    margin-top: 2rem;
    display: inline-block;
    
}

.button:hover{
    background:#374a67 ;
    color: white;
}

.card h3 a {
    color: #333;
    text-decoration: none;
}

.card p a {
    color: #828282;
    text-decoration: none;
    margin: 0 1rem;
    display: block;
}

.button-blue{
    color:#fff ;
    background-color:#374a67 ;
    margin-bottom: 1rem;
    
   
    
}

.button-blue:hover{
    background:#fff ;
    color: #374a67;
    
}

.card  img{
    width: 100%;
    
}

.card {
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.75); 
    text-align: center;
    border-radius: 4px;
    margin: 1rem;
overflow: hidden;


}

#rezepte h2{
    text-align: center; 


}

#newsletter{
    background-color: #04122b;
    color: #fff;
    text-align: center;
    padding: 2rem 1rem;
}
h2 span{
    display: block;
}





@media (min-width:768px) {
       header nav {
           display: block;
           
       }

       #menu{
           display: none;
       }
           nav ul{
               display:flex;
           }
           nav li{
               margin: 8px;
           }
           

       .row{
           display:flex
       }

       

}
